# Node
node_modules/
**/node_modules/

# Flutter / Dart
**/build/
**/.dart_tool/
**/.flutter-plugins
**/.flutter-plugins-dependencies
**/.packages
**/.metadata

# Android / Gradle
**/.gradle/
**/local.properties

# iOS / macOS
**/ios/Pods/
**/ios/.symlinks/
**/ios/Flutter/Flutter.framework
**/ios/Flutter/*.xcconfig
**/macos/Pods/

# Windows/Linux builds
**/windows/**/Debug/
**/linux/**/Debug/

# Secrets
.env
**/.env
server/.env
client/.env
